.page-body {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: darkgray;
}

.shao-nav-bar {
  color: white;
  font-size: large;
  font-weight: bold;
  text-align: center;
  background-color: dodgerblue;
  padding: 12px;
  position: fixed;
  width: 100%;
}
